{% extends 'base.html' %}

{% block title %}Inicio | Dashboard {% endblock %}

{% block content %}
<div class="row g-4 mb-4">
  <div class="col-md-4">
    <div class="card card-kpi p-3">
      <h5>Días restantes de licencia:</h5>
      {% if dias_restantes is not none %}
        {% if dias_restantes == 0 %}
          <h3 class="text-danger">Licencia expirada</h3>
        {% elif dias_restantes <= 5 %}
          <h3 class="text-danger">{{ dias_restantes }} días restantes</h3>
        {% elif dias_restantes <= 10 %}
          <h3 class="text-warning">{{ dias_restantes }} días restantes</h3>
        {% elif dias_restantes <= 50 %}
          <h3 class="text-success">{{ dias_restantes }} días restantes</h3>
        {% else %}
          <h3 class="text-primary">{{ dias_restantes }} días restantes</h3>
        {% endif %}
      {% else %}
        <h3 class="text-muted">Sin licencia válida</h3>
      {% endif %}
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-kpi p-3">
      <h5>AF próximos a vencer</h5>
      <h3 class="text-danger">12 activos</h3>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-kpi p-3">
      <h5>Usuarios activos</h5>
      <h3 class="text-success">45</h3>
    </div>
  </div>
</div>

<div class="row g-4">
  <div class="col-md-6">
    <div class="card p-3">
      <h5 class="text-center">Distribución de Activos</h5>
      <div class="chart-container">
        <canvas id="chartPie"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card p-3">
      <h5 class="text-center">Activos por Área</h5>
      <div class="chart-container">
        <canvas id="chartBar"></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="/static/js/chartbody.js"></script>
  <script src="/static/js/logout.js"></script>
{% endblock %}
